doctype
html
  head
    link(rel="stylesheet" href="/main.css")
  body
    #wrapper
      include ./includes/header.jade
      #main
        #container
          #content
            != yield
      #footer
        #colophon
          ココフッタ
