#header
  #masthead
    #branding(role="banner")
      h1#site-title
        span
          a(href="/", title="Home NOC Operators' Group") Home NOC Operators' Group

      img(src="/files/images/header.jpg", width="940", height="198")
    #access(role="navigation")
      .menu-header
        ul.menu
          li
            a(href="/") Home
          li
            a(href="/rules") 会則
          li
            a(href="#") 実験ネットワーク利用
            ul.sub_menu
              li
                a(href="#") 実験ネットワーク利用規約
          li
            a(href="#") 運営メンバ
          li
            a(href="#") Blog
